<table class="centered-table">
  <tr>
    <td class="date">営業時間</td>
    <td class="content">12時～22時</td>
  </tr>
  <tr>
    <td class="date">住所</td>
    <td class="content">東京都</td>
  </tr>
  <tr>
    <td class="date">説明</td>
    <td class="content">〇〇〇〇〇〇〇</td>
  </tr>
</table>
