body {
    font-family: "Helvetica Neue", sans-serif;
    background-color: #fff;
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  table {
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .centered-table {
    margin: 0 auto;
    width: 60%;
  }
  
  td {
    border-top: 1px solid #ccc;
    padding: 10px;
    vertical-align: top;
  }
  
  .date {
    font-weight: bold;
    white-space: nowrap;
  }
  
  .content {
    padding-left: 10px;
  }
  